site_name: Documentation Pendule Furuta
site_url: https://heig-vd-iai.github.io/pendule-furuta-doc

repo_name: heig-vd-iai/pendule-furuta-doc
repo_url: https://github.com/heig-vd-iai/pendule-furuta-doc

theme:
  name: material
  language: fr
  font:
    text: Nunito
  logo: https://raw.githubusercontent.com/heig-vd/logos/main/heig-vd/svg/heig-vd-white.svg
  features:
    - content.tooltips
    - navigation.tabs
    - navigation.top
  palette:
    - scheme: default
      media: "(prefers-color-scheme: light)"
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
      primary: red
      accent: light blue
    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      primary: black
      accent: lime
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

markdown_extensions:
  - footnotes
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - stylesheets/extra.css

validation:
  links:
    absolute_links: relative_to_docs
